/////BLOG

//Blog_page
#blog_page {
  width: 100%;
  height: 500px;
  @include bg-size(cover);
  background: linear-gradient( to bottom, rgba(12, 0, 35, .8), rgba(12, 0, 35, .8)), url("https://via.placeholder.com/1920x500");
  background-position: center;
  position: relative;
  //Header#
  #header {
    width: 100%;
    background-color: transparent;
    position: fixed;
    top: 50px;
    z-index: 2;
    //header-wrapper
    .header-wrapper {
      @include flex();
      @include justify-content(space-between);
      @include align-items(center);
      height: 150px;
      position: relative;
      //logo
      .logo {
        position: relative;
        z-index: 3;
        img {cursor: pointer;}
      }
      //menu
      .menu {
        margin-bottom: 0;
        >li {
          display: inline-block;
          position: relative;
          margin-right: 30px;
          &:last-child {
            margin-right: 0;
          }
          >a {
            color: $base-color;
            @include weight(semi-bold);
            text-decoration: none;
            font-size: $large-size;
            position: relative;
            &::before {
              position: absolute;
              width: 0;
              margin: -7px 0;
              @include transition(0.4s);
              content: "";
              background-color: $secondary-color;
              height: 4px;
              border-radius: 2px;
              left: 0;
              bottom: 0;
            }
            &:hover {
              color: $secondary-color;
              &::before {
                width: 100%;
              }
            }
            &:not(:only-child):after {
              padding-left: 10px;
              content: ' \e805';
              font-family: "rojo-font";
            }
          }
          ul {
            margin-bottom: 0;
            width: 200px;
            position: absolute;
            top: 34px;
            left: 0;
            z-index: 1;
            padding: 15px 0 15px 10px;
            background-color: $three-color;
            opacity: 0;
            visibility: hidden;
            @include transition(0.4s);
            li {
              display: block;
              padding-bottom: 15px;
              &:last-child {
                padding-bottom: 0;
              }
              a {
                color: $base-color;
                @include weight(bold);
                text-decoration: none;
                font-size: $large-size;
                text-transform: uppercase;
                position: relative;
                &::before {
                  position: absolute;
                  width: 0;
                  margin: -5px 0;
                  @include transition(0.4s);
                  content: "";
                  background-color: $secondary-color;
                  height: 3px;
                  border-radius: 2px;
                  left: 0;
                  bottom: 0;
                }
                &:hover {
                  color: $secondary-color;
                  &::before {
                    width: 100%;
                  }
                }
              }
            }
          }
          &:hover {
            ul {
              opacity: 1;
              visibility: visible;
            }
          }
          .active {
            position: relative;
            &::before {
              position: absolute;
              width: 0;
              margin: -7px 0;
              @include transition(0.4s);
              content: "";
              background-color: $secondary-color;
              height: 4px;
              border-radius: 2px;
              left: 0;
              bottom: 0;
            }
          }
          .active, a.active {
            &::before {
              width: 100%;
            }
          }
        }
      }
      //header_phone
      .header_phone {
        @include flex;
        @include align-items(center);
        i {font-size: 21px; color: $base-color;}
        a {
          padding-left: 10px;
          color: $base-color;
          font-size: 21px;
          text-decoration: none;
        }
      }
      //hamburger
      .hamburger {
        display: none;
        position: fixed;
        top: 102px;
        right: 15px;
        cursor: pointer;
        z-index: 999;
        i {
          color: $base-color;
          font-size: 30px;
          cursor: pointer;
          @include transition(0.4s);
        }
      }

      //Notebook
      @include notebook {
        //menu
        .menu {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100vh;
          background-color: $secondary-color;
          z-index: 2;
          text-align: center;
          @include flex();
          @include flex-direction(column);
          @include justify-content(center);
          @include scale(0);
          opacity: 0;
          transition: opacity 650ms;
          li {
            display: block;
            margin-right: 0;
            padding-bottom: 30px;
            &:last-child {
              padding-bottom: 0;
            }
            a {
              font-size: 18px;
              @include weight(bold);
              color: $primary-color;
              &::before {
                background-color: $base-color;
              }
              &:hover {
                color: $base-color;
              }
            }
            ul {
              width: 100%;
              top: 30px;
              padding: 15px 0;
              li {
                padding-bottom: 12px;
                &:last-child {
                  padding-bottom: 0;
                }
                a {font-size: 12px; line-height: normal;}
              }
            }
            .active {
              &::before {background-color: $base-color;}
            }
          }
        }
        .menu.open {
          opacity: 1;
          @include scale(1);
        }
        //header_phone
        .header_phone {display: none}
        .hamburger {
          display: block;
          .icon-cancel {display: none;}
          .icon-cancel.open {display: block;}
          .icon-menu.open {display: none;}
        }
      }
    }
  }
  //page_text
  .page_text {
    position: absolute;
    top: 65%;
    left: 50%;
    @include translate(-50%, -50%);
    text-align: center;
    @include weight(500);
    line-height: normal;
    font-size: 72px;
    text-transform: capitalize;
    color: $base-color;
    //Large
    @include large {
      font-size: 50px;
    }
    //Notebook
    @include notebook {
      font-size: 40px;
    }
    //Tablet
    @include tablet {
      font-size: 30px;
    }
    //X-Tablet
    @include x-tablet {
      font-size: 20px;
    }
    //Mobil
    @include mobil {
      font-size: $large-size;
    }
  }
}

#blog_page
#header.fixed {
  top: 0;
  @include transition(0.3s);
  background-color: $primary-color;
  @include box-shadow2(0px, 3px, 10px, 0px, rgba(0,0,0,0.36));
  .header-wrapper {
    .header_phone {
      i,a {color: $base-color;}
    }
    //hamburger
    .hamburger {top: 52px}
  }
}

//Our_Blog#
#our_blog {
  width: 100%;
  padding: 100px 0 100px 0;
  background-color: $three-color;
  //our_blog
  .our_blog {
    //&_item
    &_item {
      margin-bottom: 30px;
      background-color: $primary-color;
      padding: 50px 30px;
      h6 {
        line-height: normal;
        margin-bottom: 0;
        a {
          color: $secondary-color;
          font-size: 24px;
          line-height: 28px;
          text-decoration: none;
          @include weight(500);
        }
      }
      //blog_desc
      .blog_desc {
        padding-top: 12px;
        @include flex;
        color: rgba($base-color, 0.4);
        font-size: $large-size;
        line-height: 24px;
        @include weight(400);
        .comments {padding-left: 20px;}
      }
      p {
        padding-top: 20px;
        color: $base-color;
        @include weight(400);
        font-size: $large-size;
        line-height: 24px;
        margin-bottom: 0;
      }
      button {
        margin-top: 35px;
        background-color: $secondary-color;
        padding: 15px 40px;
        a {
          color: $six-color;
          text-decoration: none;
          font-size: 18px;
          text-transform: capitalize;
          @include weight(500);
          line-height: normal;
        }
      }
      //Large
      @include large {
        h6 {
          a {font-size: 20px; line-height: 25px;}
        }
        .blog_desc {font-size: $small-size; line-height: 20px}
        button {
          padding: 10px 30px;
          a {font-size: $large-size;}
        }
      }
      //Tablet
      @include tablet {
        padding: 40px 20px;
        h6 {
          a {font-size: $large-size; line-height: 24px;}
        }
        button {
          margin-top: 30px; width: 100%;
          padding: 10px 0;
          a {font-size: $large-size;}
        }
      }
      //X-Tablet
      @include x-tablet {
        h6 {
          a {font-size: $large-size; line-height: 24px;}
        }
        //blog_desc
        .blog_desc {
          padding-top: 10px;
          .comments {padding-left: 15px;}
        }
        p {font-size: $small-size; line-height: 20px; padding-top: 15px}
        button {
          margin-top: 25px; padding: 5px 0;
          a {font-size: $small-size;}
        }
      }
      //Mobil
      @include mobil {
        padding: 30px 15px;
        h6 {
          a {font-size: $small-size; line-height: 20px;}
        }
        //blog_desc
        .blog_desc {
          @include flex;
          @include flex-direction(column);
          padding-top: 10px;
          font-size: 12px; line-height: 18px;
          .comments {padding-left: 0;}
        }
        p {font-size: 12px; line-height: 18px; padding-top: 15px}
        button {
          margin-top: 25px; padding: 5px 0;
          a {font-size: 12px;}
        }
      }
    }
  }
  //page
  .page {
    padding-top: 30px;
    text-align: center;
    margin-bottom: 0;
    li {
      display: inline-block;
      margin-right: 15px;
      &:last-child {
        margin-right: 0;
      }
      a {
        color: $base-color;
        font-size: $large-size;
        text-decoration: none;
        line-height: 24px;
        @include weight(400);
      }
      .active, a.active {
        color: $seven-color;
      }
    }
    //Mobil
    @include mobil {
      li {
        margin-right: 10px;
        a {font-size: $small-size; line-height: 20px;}
      }
    }
  }
}